<h1>Inco-Terms</h1>
<h2>International Commercial Terms</h2>

<b>
  Standardize Terminologies that clarify the terms between the buyers and sellers
  from their purchase contracts. In this case, we will only explain about Seaway Transportation
  with the five most popular widely-used incoterms.
</b>
<div>
  <span>Responsibilities / Obligations</span>
  <br>
  <span>Buyer</span>
  <span>Seller</span>
</div>

<div>
  <button>
    <a href="/exw">EXW</a>
  </button>
  <button>
    <a href="/fob">FOB</a>
  </button>
  <button>
    <a href="/cif">CIF</a>
  </button>
  <button>
    <a href="/dap">DAP</a>
  </button>
  <button>
    <a href="/ddp">DDP</a>
  </button>
</div>

<img src="/SHIPPING-PROCESS.png" alt="shipping-process">

<section>  Who Pays for These? </section>
<% myCosts.forEach((cost, index) => { %>
  <li><%= cost.name %> : <%= cost.type %> -> <%= cost.image %> </li>
<% })  %> 

<div>
  <button><a href="/">Home</a></button>
</div>
<!-- <form method="GET" action="/">
  <label for="birdType">Type</label>
  <input id="birdType" type="text" name="type">

  <label for="birdName">Name</label>
  <input id="birdName" type="text" name="name">

  <input type="submit">
</form> -->


