
  <body>
<main>

  <div class="container marketing p-lg-5">

    <hr class="featurette-divider">

    <div class="row featurette ">
      <div class="col-md-7 ">
        <h2 class="featurette-heading fw-normal lh-1">Inco-Terms: International Commercial Terms </h2>
        <p class="lead"> Standardize terminologies that clarify the sales terms between the buyers and sellers
          from their purchase contracts. In this case, we will only explain about Seaway Transportation
          with the five most popular widely-used incoterms.</p>
      </div>
      <br>
      <div class="col-md-7 p-lg-5">
        <h3>Responsibilities & Obligations</h3>
        <h4 class="lead">These terms are crucial to understand because they determine who will actually be held
          responsible for any Responsibilities AND Obligations.
        </h4>
        <br>
        
      </div>
    </div>

    <div class="col-md-9">
      <img class="img-fluid" src="/SHIPPING-PROCESS.png">    
    </div>
  
    <!-- Three columns of text below the carousel -->
    <div class="row p-lg-3">
      <div class="">
        <h2 class="fw-normal">EXW</h2>
        <p>Ex-Works: Risks and Costs, Potential Issues for buyers and sellers.</p>
        <p><a class="btn btn-secondary" href="/exw">View details &raquo;</a></p>
      </div>
    </div>
    <div class="row p-lg-3">
      <div class="">
        <h2 class="fw-normal">FOB</h2>
        <p>Free on Board: Risks and Costs, Potential Issues for buyers and sellers.</p>
        <p><a class="btn btn-secondary" href="/fob">View details &raquo;</a></p>
      </div>
    </div>
    <div class="row p-lg-3">
      <div class="">
        <h2 class="fw-normal">CIF</h2>
        <p>Cost, Insurance, and Freight: Risks and Costs, Potential Issues for buyers and sellers.</p>
        <p><a class="btn btn-secondary" href="/cif">View details &raquo;</a></p>
      </div>
    </div>
    <div class="row p-lg-3">
      <div class="">
        <h2 class="fw-normal">DAP</h2>
        <p>Delivery at Place: Risks and Costs, Potential Issues for buyers and sellers.</p>
        <p><a class="btn btn-secondary" href="/dap">View details &raquo;</a></p>
      </div>
    </div>
    <div class="row p-lg-3">
      <div class="">
        <h2 class="fw-normal">DDP</h2>
        <p>Delivery Duty Paid: Risks and Costs, Potential Issues for buyers and sellers</p>
        <p><a class="btn btn-secondary" href="/ddp">View details &raquo;</a></p>
      </div>
    </div>
    
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2022 Simply SupplyChain </p>
  </footer>
</main>

