<link href="cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <br>
  <main class="px-3 mx-auto col-md-10 p-lg-5 ">
    <h1 class="p-lg-5"></h1>
    <h2 class="p-lg-5">Welcome To</h2>
    <img src="\assets\brand\SimplySupplyChainHomeLogo.png" alt="logo">
    <h3 strong class="lead p-lg-5">When you are curious about International Trading and Supply Chain, 
      Simply SupplyChain can support your understandings.</h3 strong>
    <p class="lead">
      <a href="/inco-terms" class="btn btn-lg btn-secondary fw-bold border-white"> Inco-Terms</a>
      <a href="/news" class="btn btn-lg btn-secondary fw-bold border-white ">Live News</a>
    </p>
  </main>

 
</div>
  </body>
</html>