<h1>DDP</h1>
<h2>DELIVERY DUTY PAID</h2>

<P>
  Seller Pays for All the Costs from the Originated Country and bears all the Risks
  as well.
</P>

<img src="../images/DDP-IMAGE.jpg" alt="DDP">

<form action="">
  <input type="text" class="form-control">
  <input type="submit" class="btn btn-primary">
</form>

<div>
  <button><a href="/inco-terms">Back</a></button>
  <button><a href="/">Home</a></button>
</div>