<h1>FOB</h1>
<h2>FREE ON BOARD</h2>

<P>
  Buyer and Seller's obligations evens out their parts by having seller to pay
  and load the goods until exporting out and buyer to pay and load when arrive 
  to the importing site. 
</P>
<p>
  Note: FOB is only applicable in sea/waterways transportation.
</p>

<img src="../images/FOB-IMAGE.jpg" alt="FOB">

<form action="">
  <input type="text" class="form-control">
  <input type="submit" class="btn btn-primary">
</form>

<div>
  <button><a href="/inco-terms">Back</a></button>
  <button><a href="/">Home</a></button>
</div>