<link href="cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <br>
  <main class="px-3 mx-auto col-md-10 p-lg-5 ">
    <h1 class="p-lg-5"></h1>
    <h2 class="p-lg-5">FOB: Free on Board</h2>
    <img src="\assets\brand\FOB-IMAGE.jpg" alt="logo">
    <h3 strong class="lead p-lg-5"> Buyer and Seller's obligations evens out their parts by having seller to pay
      and load the goods until exporting out and buyer to pay and load when arrive 
      to the importing site.  </h3 strong>
    <p class="lead">
      <a href="/inco-terms" class="btn btn-lg btn-secondary fw-bold border-white"> Back</a>
      <a href="/" class="btn btn-lg btn-secondary fw-bold border-white ">Home</a>
    </p>
  </main>

