<link href="cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <br>
  <main class="px-3 mx-auto col-md-10 p-lg-5 ">
    <h1 class="p-lg-5"></h1>
    <h2 class="p-lg-5">CIF: Cost, Insurance, and Freight</h2>
    <img src="\assets\brand\CIF-IMAGE.png" alt="image">
    <h3 strong class="lead p-lg-5">Very Similar to the FOB Term that both buyer and seller's obligations are 
      evened out. However, seller's costs and responsibilities are greater from bearing
      the insurance and freight costs when boarding on the vessel.  </h3 strong>
    <p class="lead">
      <a href="/inco-terms" class="btn btn-lg btn-secondary fw-bold border-white"> Back</a>
      <a href="/" class="btn btn-lg btn-secondary fw-bold border-white ">Home</a>
    </p>
  </main>



