<h1>CIF</h1>
<h2>COST, INSURANCE, AND FREIGHT</h2>

<P>
  Very Similar to the FOB Term that both buyer and seller's obligations are 
  evened out. However, seller's costs and responsibilities are greater from bearing
  the insurance and freight costs when boarding on the vessel. 
</P>

<img src="../images/CIF-IMAGE.jpg" alt="CIF">

<form action="">
  <input type="text" class="form-control">
  <input type="submit" class="btn btn-primary">
</form>

<div>
  <button><a href="/inco-terms">Back</a></button>
  <button><a href="/">Home</a></button>
</div>