<h1>EXW</h1>
<h2>EX-WORKS</h2>

<P>
  Buyer almost pays for everything starting from the seller's country
  designated location all the way to the importing country. Seller favors
  this type of inco-term simply because seller would have more control 
  over the fregith expense and low liability to the seller. 
</P>

<img src="../images/EX-WORKS-IMAGE.jpg" alt="EX-WORKS">

<form action="">
  <input type="text" class="form-control">
</form>