<h1>Favorite News</h1>


  <% news.forEach((a) => { %>
    <div class="well">
      <h2>
        <a href="/news/<%= a._id %>"><%= a.title %></a>
        <p><%= a.summary %> </p>
        <small>by <%= a.author %></small>
      </h2>
    </div>
  <% }) %>
