<h1> Simply SupplyChain News</h1>

<div class="well">
  <form method="POST" action="./news/search">
      <input name="searchTerm" type="text" placeholder="searchTerm">
      <button class="btn btn-primary" type="submit">Search News</button>
  </form>
</div>