<h1>Individual News</h1>

<h2><%= news.title %> </h2>
<small><%= news.summary %> </small>
<strong><%= news.author %> </strong>

<div class="comments">
  <form method="POST" action="./<%= news.id %>/comments">
    <label for="userName">User Name</label>
    <input name="userName" type="text">s
    <br>
    <label for="commentText">Comment</label>
    <input name="commentText" type="text">
    <button type="submit">Submit</button>
  </form>
</div>