<h1>DAP</h1>
<h2>DELIVERED AT PLACE</h2>

<P>
  Greater Obligations and Responsibilities on the Seller that the Buyer only owes
  minimal Obligations such as few import formalities/duties and possible unloading
  costs from their designated drop-off site. 
</P>


<img src="../images/DAP-IMAGE.jpg" alt="DAP">

<form action="">
  <input type="text" class="form-control">
  <input type="submit" class="btn btn-primary">
</form>

<div>
  <button><a href="/inco-terms">Back</a></button>
  <button><a href="/">Home</a></button>
</div>